<head>
<title>{{title}}</title>
  <link rel="stylesheet" href="stylesheets/about.css" />
</head>
  <div class="img">
            <div class="container">
                <!-- my-auto -->
                <div class="content mx-auto text-center">
                    <h1>Online Discussions</h1>
                    <div class="inertext mt-5 bg-light text-dark mx-auto">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia sequi
                            dolores nostrum enim saepe commodi.
                        </p>
                    </div>
                </div>
            </div>
        </div>