      <head>
          <title>{{title}}</title>
          <link rel="stylesheet" href="stylesheets/team.css">
      </head>
      
      
      <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <section class="mx-auto my-5">
                        <div class="card testimonial-card mt-2 mb-3">
                            <div class="card-up aqua-gradient"></div>
                            <div class="avatar mx-auto white">
                                <img
                                    src="images/akash.jpeg"
                                    class="rounded-circle img-fluid"
                                    alt="akash avatar"
                                />
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title font-weight-bold">Akash</h4>
                                <hr />
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <a href="">
                                    <span
                                        class="iconify"
                                        data-inline="false"
                                        data-icon="ci:facebook"
                                        style="font-size: 40px"
                                    ></span
                                ></a>
                                <a href="">
                                    <span
                                        class="iconify"
                                        data-inline="false"
                                        data-icon="ant-design:instagram-filled"
                                        style="font-size: 40px"
                                    ></span
                                ></a>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-6 col-md-3">
                    <section class="mx-auto my-5">
                        <div class="card testimonial-card mt-2 mb-3">
                            <div class="card-up aqua-gradient"></div>
                            <div class="avatar mx-auto white">
                                <img
                                    src="images/jerrin.jpg"
                                    class="rounded-circle img-fluid"
                                    alt="jerrin avatar"
                                />
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title font-weight-bold">jerrin</h4>
                                <hr />
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <a href="">
                                    <span
                                        class="iconify"
                                        data-inline="false"
                                        data-icon="ci:facebook"
                                        style="font-size: 40px"
                                    ></span
                                ></a>
                                <a href="">
                                    <span
                                        class="iconify"
                                        data-inline="false"
                                        data-icon="ant-design:instagram-filled"
                                        style="font-size: 40px"
                                    ></span
                                ></a>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-sm-6 col-md-3">
                    <section class="mx-auto my-5">
                        <div class="card testimonial-card mt-2 mb-3">
                            <div class="card-up aqua-gradient"></div>
                            <div class="avatar mx-auto white">
                                <img
                                    src="images/harris.jpg"
                                    class="rounded-circle img-fluid"
                                    alt="harris avatar"
                                />
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title font-weight-bold">Harris</h4>
                                <hr />
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <a href="">
                                    <span
                                        class="iconify"
                                        data-inline="false"
                                        data-icon="ci:facebook"
                                        style="font-size: 40px"
                                    ></span
                                ></a>
                                <a href="">
                                    <span
                                        class="iconify"
                                        data-inline="false"
                                        data-icon="ant-design:instagram-filled"
                                        style="font-size: 40px"
                                    ></span
                                ></a>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-sm-6 col-md-3">
                    <section class="mx-auto my-5">
                        <div class="card testimonial-card mt-2 mb-3">
                            <div class="card-up aqua-gradient"></div>
                            <div class="avatar mx-auto white">
                                <img
                                    src="images/jishal.jpg"
                                    class="rounded-circle img-fluid"
                                    alt="jishal avatar"
                                />
                            </div>
                            <div class="card-body text-center">
                                <h4 class="card-title font-weight-bold">Jishal</h4>
                                <hr />
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <a href="">
                                    <span
                                        class="iconify"
                                        data-inline="false"
                                        data-icon="ci:facebook"
                                        style="font-size: 40px"
                                    ></span
                                ></a>
                                <a href="">
                                    <span
                                        class="iconify"
                                        data-inline="false"
                                        data-icon="ant-design:instagram-filled"
                                        style="font-size: 40px"
                                    ></span
                                ></a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>