.img {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/kyle-sung-oQuP_XBjOMY-unsplash.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.content {
    width: 500px;
    height: 500px;
    background-color: black;
}
.inertext {
    width: 90%;
    height: 100px;
}
